{% include  'dHead.html' %}
<head>
    <title>Your Chat Window</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
 <script type = "text/JavaScript">
         <!--
    function AutoRefresh(t) {
        setTimeout("location.reload(true);", t);
    }
    //-->
      </script>
<script>
    $(document).ready(function () {
        getdata();
    });
    function getdata() {
        var url = "getdata?id=" + $("#idis").val();
        $.get(url, function (data, status) {
            $("#data").html(data);
        });
    }
    function storeData() {
        var url2 = "/storeData?id=" + $("#idis").val() + "&msg=" + $("#msg").val();
        $("#msg").val('')
        $.get(url2, function (data, status) {

            getdata();
        });
        return false;
    }

</script>
<body >
<div style="display: flex; flex-direction: column; height: 100vh;">
    <div style="flex-grow:1;" class="text-center h3 text-uppercase">{{username}}</div>
    <div style="flex-grow:1;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">


                </div>
            </div>
        </div>
    </div>

</div>
<div class="msgBox">
<div class="head">

    <div style="flex-grow:1; line-height: 5vh; vertical-align: middle; padding-left: 5px;" class="text-left  text-uppercase" >{{username}}</div>

</div>
<div class="body">
<div id="data"></div>
</div>
<div class="footer">
 <form id="myform" onsubmit="return storeData()" >
                        <div class="form-group" style=" margin: 0px; margin-bottom: 5px; ">
                            <input type="hidden" name="id" id="idis" class="form-control" required value="{{username}}">
                            <textarea id="msg" class="form-control" required placeholder="Enter Message"></textarea>
                        </div>
                        <div class="text-right">
                            <input type="submit" value="Submit"  class="btn btn-primary" name="Send" style="margin: 2px;">
                        </div>
                    </form>

</div>
</div>
</body>
<style>
.msgBox{
width: 30%;
height: 80vh;
position: absolute;
bottom: 0;
right: 10%;
box-shadow: 0px 0px 10px black;
z-index: 1000;
}
.head{
height: 5vh;
border-bottom: 1px solid #ccc;
}
.footer{
height: 18vh;
}
.body{
height: 57vh;
border-bottom: 1px solid #ccc;
overflow: auto;

}
</style>