{%include 'MainHead.html'%}

<head>
<style>
body {
}
</style>
     <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
</head>
<h2 class="text-center">Register Here</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" >
    <div class="container">
  <form action="/doctorregister1"   onsubmit="return validate()" name="myform" enctype="multipart/form-data" method="post">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username" name="username"  required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password"   required>
    </div>
     <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="number" class="form-control" id="phone"  placeholder="Enter phnonenumber" name="phone" required>
    </div>
      <div class="form-group">
      <label for="phone">Experience:</label>
      <input type="number" class="form-control" id="exp"  placeholder="Enter Experience" name="experience" required>
    </div>


       <div class="form-group">
      <label >Image:</label>
      <input type="file" class="form-control"   name="file">
    </div>
    <div>
      <button type="submit" class="btn btn-primary" value="Register">Register</button>

    <button type="reset" class="btn btn-dark" value="Clear">Clear</button>
    </div>
  </form>
</div>
</div>
</div>