
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Brain Tumor Detection</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
                           <li><a href="/docprofiles">View Doctor Profiles</a></li>

        <li><a href="/sendReq">Send Request</a></li>
                <li><a href="/viewreq">View Request</a></li>

        <li><a href="/Logout">Logout</a></li>

    </ul>
  </div>
</nav>