{% include "userHead.html" %}
<head>
<style>
body {

}
</style>
    <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>


    <div class="container">
        <div class="text-center h3" style="padding:10px;margin-bottom:10px">Doctor Details</div>
        <div class="row">
        {%for roww in userDetails%}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center"><img  src=" {{url_for('send_image', filename=roww[7])}}" style="height:200px;" ></div>
                        <div class="row"><div class="col-md-2"></div><div class="col-md-4">Name</div><div class="col-md-6">{{roww[1]}}</div></div>
                        <div class="row"><div class="col-md-2"></div><div class="col-md-4">Username</div><div class="col-md-6">{{roww[2]}}</div></div>
                        <div class="row"><div class="col-md-2"></div><div class="col-md-4">Email</div><div class="col-md-6">{{roww[3]}}</div></div>
                        <div class="row"><div class="col-md-2"></div><div class="col-md-4">Phone</div><div class="col-md-6">{{roww[5]}}</div></div>
                        <div class="row"><div class="col-md-2"></div><div class="col-md-4">Experience</div><div class="col-md-6">{{roww[6]}}</div></div>
                    </div>
                </div>
            </div>
        {%endfor%}
        </div>
    </div>

